body{
	background-color: rgba(249,247,246,1);
}
.moreBrandTitle{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	padding-left: 0.26rem;
	font-size: 0.4rem;
	color: #333333;
	font-weight: 600;
}
#brandName{
	margin-right: 0.26rem;
}
/*主体*/
.acdClassList{
	width: 100%;
	background-color: rgba(255,255,255,1);
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.acdClassList:after{
	content: '';
	width: 25%;
}
.acdClassList>li{
	width: 25%;
	height: 1.86rem;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.acdClassList>li:nth-child(1),.acdClassList>li:nth-child(2),.acdClassList>li:nth-child(3){
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.acdClassList>li:nth-child(4){
	border-bottom: 1px solid #DDDDDD;
}
.acdClassList>li:nth-child(5),.acdClassList>li:nth-child(6),.acdClassList>li:nth-child(7),.acdClassList>li:nth-child(8){
	border-right: 1px solid #DDDDDD;
}
.acdClassList>li:nth-child(8){
	border-right: 0;
}
.acdClassList>li>a{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
}
.acdClassList img{
	width: 100%;
	height: 100%;
	border: 0;
}
